// Base pesets
* {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-family: Verdana;
}

html, body {
    height:100%;
    width:100%;
    display: flex;
}

/*--------------------*/